RewriteEngine On

<IfModule mod_php.c>
    php_value session.name DYEITTISESSID
    php_value session.cookie_path /
    php_value session.cookie_httponly 1
</IfModule>

<IfModule php_module>
    php_value session.name DYEITTISESSID
    php_value session.cookie_path /
    php_value session.cookie_httponly 1
</IfModule>

RewriteRule ^telescope$ ./debug-monitor.php [L,QSA]
RewriteRule ^telescope/requests$ ./debug-monitor.php?type=request [L,QSA]
RewriteRule ^telescope/exceptions$ ./debug-monitor.php?type=error [L,QSA]
RewriteRule ^telescope/errors$ ./debug-monitor.php?type=error [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^login$ ./login.php [L]
RewriteRule ^login$ ./index.php [L]
RewriteRule ^lockscreen$ ./lockscreen.php [L]
RewriteRule ^logout$ ./login.php?act=logout [L]
RewriteRule ^Blank$ ./index1.php?p=Blank [L]

Options All -Indexes
